.product-display {
  text-align: center;
  padding: 20px;
}

.product-heading {
  font-size: 2.5em; 
  font-weight: 1000;
}

.subheading {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.product-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-icons {
  position: absolute;
  bottom: -10px;
  right: 20px;
  display: flex;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px;
  border-radius: 8px;
}

.carousel-icon {
  cursor: pointer;
  font-size: 2.5em;
  color: #fff; 
  transition: transform 0.2s ease;
}

.carousel-icon:hover {
  transform: scale(1.1);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.product-card {
  border: 1px solid #eee;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
  transition: transform 0.3s;
}

.center-card {
  transform: scale(1.1);
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #00ff00;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.product-status .on-sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00ff00;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.product-status .sold-out {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.product-info {
  margin-top: 10px;
}

.product-info h3 {
  font-size: 1.2em;
}

.price {
  color: #e63946;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: #777;
  margin-right: 5px;
}

.description {
  color: #555;
  margin-top: 10px;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
  .carousel-icon {
    font-size: 2em;
  }
}
