.hero-section {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  max-width: 100%;
  overflow: hidden;
}

.hero-content {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.chili-image {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 50px;
  height: auto;
}

.hero-content h1 {
  font-size: 4rem; 
  font-weight: 900; 
  margin: 20px 0;
  line-height: 1.2;
}

.shop-now-button {
  background-color: #32CD32;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  transition: background-color 0.3s;
  max-width: 100%;
}

.shop-now-button:hover {
  background-color: #228B22;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  max-width: 100%;
}

.feature-item {
  flex: 1 1 200px;
  margin: 10px;
  text-align: center;
  max-width: calc(100% - 40px);
}

.feature-item img {
  width: 100px; 
  height: auto;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .hero-content h1 {
      font-size: 3rem; 
  }

  .shop-now-button {
      font-size: 0.9rem;
  }

  .feature-item {
      flex: 1 1 120px;
      max-width: calc(100% - 40px);
  }

  .feature-item img {
      width: 80px; 
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
      font-size: 2.5rem; 
  }
}
